# Configuração do Banco de Dados
DB_HOST=db
DB_PORT=5432
DB_NAME=tasksdb
DB_USER=postgres
DB_PASSWORD=postgres

# Configuração dos Workers
POLLING_INTERVAL=5000
MAX_RETRIES=3
WORKER_ENABLED=true
WORKER_QUEUE=email

# Configuração do Frontend
VITE_API_TARGET=http://localhost:8080
